.App {
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 2rem;
}
.lowerdiv {
  margin-top: 2rem;
}
.listdiv {
  display: flex;
  gap: 1rem;
}
.listdiv span {
  width: 80px;
  border: 1px solid black;
  text-align: center;
  padding: 2px;
}
.listdiv select {
  width: 70px;
  height: 20px;
  background-color: #61dafb;
  
}
.showInputdiv button{
  margin-top: 1rem;
}

.resultbtn{
  margin-top: 1rem;
}
.Anddiv button{
  margin-top: 2px;
}
